<div style="
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
">
    <div
        editor-container
        style="
            margin: 10px;
            min-width: 50px;
            min-height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        "
    ></div>
    <div
        editor-container
        style="
            margin: 10px;
            min-width: 50px;
            min-height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        "
    ></div>
    <div
        editor-container
        style="
            margin: 10px;
            min-width: 50px;
            min-height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        "
    ></div>
</div>