editor-traitcontainer {
    position: absolute;
    height: 100vh;
    right: 0px;
    min-width: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
}

editor-traitmenu {
    position: absolute;
    height: 50%;
    top: 10%;
    right: 3%;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    //box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 64px 0px, rgba(0, 0, 0, 0.01) 0px 0px 0px 1px;
    transition: box-shadow .1s linear, opacity .1s ease-in-out;

    header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        font-size: 15px;
    }

    traits {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
        font-size: 13.5px;

        label {
            margin-right: 15px;
            width: 25%;
            font-size: 13.5px;
        }

        select,
        input {
            width: 70%;
            border-radius: 5px;
            border:none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            padding: 5px 7.5px;
            margin-left: 10px;
            border: 1px solid #30364c;
            background: none;
            font-size: 14px;
        }

        input[type="checkbox"] {
        }
    }

    trait {
        display: flex;
        align-items: center;
        width: 90%;
        margin: 5px 0px;
    }
};