<div
    class="main-cont"
>
    <img class="image" src="https://res.cloudinary.com/hk5sps1l1/image/upload/v1599057560/samples/landscapes/nature-mountains.jpg" />
    <div class="text-cont">
        <Text body="Your beautiful website" size="40" ></Text>
        <Text style="margin-top: 10px;" body="Created and designed by absolute professionals" size="20" ></Text>
        <div class="column-row" style="margin-top: 15px;">
            <div
                editor-container
                class="column-cell"
            ></div>
        </div>
    </div>
</div>