<div class="container">
    <div class="arrows">
        <div class="arrow-btn" style="left: 25px" nuc-model="arrowLeft">
            <i class="fas fa-arrow-circle-left"></i>
        </div>
        <div style="flex-grow: 1"></div>
        <div class="arrow-btn" style="right: 25px" nuc-model="arrowRight">
            <i class="fas fa-arrow-circle-right"></i>
        </div>
    </div>
    <div class="slide" nuc-model="slide0" style="background-color: black; display: block">
        <img src="https://res.cloudinary.com/hoev0txic/image/upload/v1612198193/offices/q21leilcnzrehahcr37s.jpg"
            alt="image1" style="width: 100%;" class="image">
    </div>
    <div class="slide" nuc-model="slide1" style="background-color: red">
        <img src="https://res.cloudinary.com/hoev0txic/image/upload/v1603961856/office-interior-design-service-perkins-will_ljbupf.jpg"
            alt="image2" style="width: 100%" class="image">
    </div>
    <div class="slide" nuc-model="slide2" style="background-color: blue">
        <img src="https://res.cloudinary.com/hoev0txic/image/upload/v1598883355/sample.jpg" alt="image3" style="width: 100%" class="image">
    </div>
</div>