<div class="container">
    <div class="arrow-btn" style="left: 25px" model="arrowLeft">
        A
    </div>
    <div class="arrow-btn" style="right: 25px" model="arrowRight">
        B
    </div>
    <div
        class="slide"
        model="slide0"
        style="background-color: black; display: block"
    >
        1
    </div>
    <div
        class="slide"
        model="slide1"
        style="background-color: red"
    >
        2
    </div>
    <div
        class="slide"
        model="slide2"
        style="background-color: blue"
    >
        3
    </div>
</div>