$menu-width: 250px;
$navbar-height: 50px;

editor-main {
    position: absolute;
    width: calc(100% - #{$menu-width});
    left: $menu-width;
    top: $navbar-height;
};

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    top: 0px;
    width: 100%;
    height: $navbar-height;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12)!important;
}

editor-sidemenu {
    position: absolute;
    left: 0px;
    top: $navbar-height;
    height: 100vh;
    min-width: $menu-width;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12)!important;
    background-color: white;

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
    }

    .title {
        display: flex;
        align-items: center;
        margin: 0 10px;
        height: 40px;
        width: 100%;
        color: rgb(39, 39, 39);
    }

    span {
        font-weight: bold;
    }

    editor-components {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        div {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border-radius: 5px;
            height: 40px;
            width: 200px;
            background-color: lightgrey;
            margin: 7px 10px;
        }
    }


};

editor-traitcontainer {
    position: absolute;
    height: 100vh;
    right: 0px;
    min-width: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
}

editor-traitmenu {
    height: 80%;
    margin-top: 5%;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12)!important;
    display: none;

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
    }

    traits {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }
};