$menu-width: 250px;
$navbar-height: 50px;

// #30364c
$main-color: crimson;

editor-main {
    position: absolute;
    width: calc(100% - #{$menu-width});
    left: $menu-width;
    top: $navbar-height;
    box-sizing: border-box;
    padding: 10px;
};

nav {
    z-index: 2;
    position: absolute;
    top: 0px;
    width: 100%;
    height: $navbar-height;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9677CF, #9E90B6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9677CF, #9E90B6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    nav-container {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0px 20px;

        nav-button {
            width: 120px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            margin-right: 15px;
            color: white;

            button {
                background: transparent;
                color: #fff;
                border: none;
                outline: none;
                font-size: large;
                cursor: pointer;

            }

        }

        nav-connect {
            width: 100px;
            height: 30px;
            border: 1px solid white;
            border-radius: 50px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 13px;

            nav-picture {
                width: 20px;
                height: 20px;
                background-color: white;
                margin-right: 5px;
                border-radius: 50%;
            }
        }
    }

    span {
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
    }
}

editor-traitcontainer {
    position: absolute;
    height: 100vh;
    right: 0px;
    min-width: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
}

editor-traitmenu {
    position: absolute;
    height: 50%;
    top: 10%;
    right: 3%;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    //box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 64px 0px, rgba(0, 0, 0, 0.01) 0px 0px 0px 1px;
    display: none;
    opacity: 0;
    transition: box-shadow .1s linear, opacity .1s ease-in-out;

    header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        font-size: 15px;
    }

    traits {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
        font-size: 13.5px;

        label {
            margin-right: 15px;
            width: 25%;
            font-size: 13.5px;
        }

        select,
        input {
            width: 70%;
            border-radius: 5px;
            border:none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            padding: 5px 7.5px;
            margin-left: 10px;
            border: 1px solid #30364c;
            background: none;
            font-size: 14px;
        }

        input[type="checkbox"] {
        }
    }

    trait {
        display: flex;
        align-items: center;
        width: 90%;
        margin: 5px 0px;
    }
};

layers {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    i {
        cursor: pointer;
    };
}