$menu-width: 250px;
$navbar-height: 50px;

// #30364c
$main-color: crimson;

body {
    overflow: hidden;
}

editor-main {
    position: absolute;
    width: calc(100% - #{$menu-width});
    height: 100%;
    left: $menu-width;
    top: $navbar-height;
    box-sizing: border-box;
    padding: 10px;
    overflow-y: scroll;
};

nav {
    z-index: 2;
    position: absolute;
    top: 0px;
    width: 100%;
    height: $navbar-height;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9677CF, #9E90B6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9677CF, #9E90B6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    nav-container {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0px 20px;

        nav-button {
            width: 120px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            margin-right: 15px;
            color: white;

            button {
                background: transparent;
                color: #fff;
                border: none;
                outline: none;
                font-size: large;
                cursor: pointer;

            }

        }

        nav-connect {
            width: 100px;
            height: 30px;
            border: 1px solid white;
            border-radius: 50px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 13px;

            nav-picture {
                width: 20px;
                height: 20px;
                background-color: white;
                margin-right: 5px;
                border-radius: 50%;
            }
        }
    }

    span {
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
    }
}

layers {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    i {
        cursor: pointer;
    };
}