<div class="navbar-container" data-gjs-droppable=".navbar-cell" data-gjs-resizable='{"tl":0,"tc":1,"tr":0,"cl":0,"cr":0,"bl":0,"br":0,"minDim":1,"bc":1,"currentUnit":1,"step":0.5}'>
    <div class="navbar-cell objClass" data-gjs-resizable='{"tl":0,"tc":0,"tr":0,"cl":1,"cr":1,"bl":0,"br":0,"minDim":1,"bc":0,"currentUnit":1,"step":0.5}'></div>
    <div class="navbar-cell objClass1" data-gjs-resizable='{"tl":0,"tc":0,"tr":0,"cl":1,"cr":1,"bl":0,"br":0,"minDim":1,"bc":0,"currentUnit":1,"step":0.5}'></div>
    <div class="navbar-cell objClass2" data-gjs-resizable='{"tl":0,"tc":0,"tr":0,"cl":1,"cr":1,"bl":0,"br":0,"minDim":1,"bc":0,"currentUnit":1,"step":0.5}'></div>
</div>