<div class="navbar-container" data-gjs-droppable=".navbar-cell" data-gjs-resizable='{"tl":0,"tc":0,"tr":0,"cl":0,"cr":0,"bl":0,"br":0,"minDim":1,"bc":1,"currentUnit":1,"step":0.2}'>
    <div class="navbar-cell" data-gjs-resizable='{"tl":0,"tc":0,"tr":0,"cl":0,"cr":1,"bl":0,"br":0,"minDim":1,"bc":0,"currentUnit":1,"step":0.2}'></div>
    <div class="navbar-cell" data-gjs-resizable='{"tl":0,"tc":0,"tr":0,"cl":1,"cr":1,"bl":0,"br":0,"minDim":1,"bc":0,"currentUnit":1,"step":0.2}'></div>
    <div class="navbar-cell" data-gjs-resizable='{"tl":0,"tc":0,"tr":0,"cl":0,"cr":1,"bl":0,"br":0,"minDim":1,"bc":0,"currentUnit":1,"step":0.2}'></div>
    <div style="flex-grow: 1" data-gjs-droppable="false"></div>
    <div class="navbar-cell" data-gjs-resizable='{"tl":0,"tc":0,"tr":0,"cl":1,"cr":0,"bl":0,"br":0,"minDim":1,"bc":0,"currentUnit":1,"step":0.2}'></div>
</div>